body {
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
    background-color: white;
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: font-size 0.3s; /* Transisi untuk perubahan ukuran font */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.settings-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.background-container,
.font-size-container,
.font-style-container {
    margin-bottom: 10px;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s; /* Transisi untuk item daftar */
}

.close {
    color: red;
    float: right;
    cursor: pointer;
}

.edit {
    color: blue;
    margin-left: 5px;
    cursor: pointer;
}

.dark-mode .container {
    background-color: black;
    color: white;
}

.dark-mode {
    background-color: black;
    color: white;
}
