* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Mengubah font utama */
    background-color: #e0f7fa; /* Warna latar belakang baru */
    color: #333; 
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s; 
}

.container {
    background-color: #ffffff; /* Warna latar belakang kontainer */
    border-radius: 15px;
    padding: 40px;
    width: 450px; /* Lebar kontainer baru */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); /* Bayangan baru */
}

h1, h2 {
    color: #333; /* Hitam saat dark mode off */
}

.dark-theme h1, .dark-theme h2 {
    color: #ffffff; /* Putih saat dark mode on */
}

.controls,
.todo-container {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.control-item {
    margin-bottom: 15px; 
}

label {
    display: block;
}

select,
input[type='range'],
button,
input[type='text'] {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

input[type='text'] {
    width: calc(100% - 22px);
}

button {
    background-color: #4CAF50; /* Mengubah warna tombol menjadi hijau solid */
    color: white; 
    cursor: pointer;
}

button:hover {
    background-color: #388E3C; /* Warna saat hover */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang item daftar */
}

.completed {
    text-decoration: line-through; 
}

.completed button {
    color: #ff4d4d; 
}

/* Dark Theme Styles */
.dark-theme {
    background-color: #15181f; 
    color: #e5e5e5; 
}

.dark-theme .container {
    background-color: #2c2f33; 
}

/* Tombol tetap hijau saat dark mode on */
.dark-theme button {
    background-color: #4CAF50; 
}

/* Teks dalam daftar to-do menjadi putih saat dark mode on */
.dark-theme li {
    color: #ffffff; /* Teks putih untuk item daftar */
}
